<div class="sysModule">
    <label><span>시스템 모듈</span>System Modules</label>
    <div>
        <ul>
            <li class="module1">
                <span class="title">생산관리</span>
                <span class="titleEng">Production Management</span>
                실시간으로 생산데이터를 수집하고 제조과정을 효과적으로 제어함으로써 생산라인에서 발생하는 여러가지 이벤트와 각 업무부서의 구체적인 업무를 긴밀히 연결시켜줍니다.
                <ul>
                    <li class="depth1">설비관리</li>
                    <li class="depth1">공구관리</li>
                    <li class="depth1">생산계획</li>
                    <li class="depth1">생산실적</li>
                    <li class="depth1">Barcode 라벨</li>
                </ul>
            </li>
            <li class="module2">
                <span class="title">창고관리</span>
                <span class="titleEng">Inventory Management</span>
                창고 내의 모든 물품, 위치, 이력 등 정보를 포괄적으로 관리하여 기업의 창고 환경을 질서 정연하게 정돈해 주며 출고 및 입고 정보를 실시간으로 업데이트 해줌으로써 재고 정보의 정확도를 높여주는 동시에 불필요한 과잉 재고가 발생하는 것을 막아줍니다.
                <ul>
                    <li class="depth1">입고관리</li>
                    <li class="depth1">재고관리</li>
                    <li class="depth1">출고관리</li>
                </ul>
            </li>
            <li class="module3">
                <span class="title">품질관리</span>
                <span class="titleEng">Quality Management</span>
                생산라인 및 오프라인의 완제품, 중간 제품 및 원자재 등 자재의 품질상태를 실시간으로 모니터링하여 제품의 품질정보를 수집하고 이를 제조기업의 자체적인 품질관리모델과 결부하여 제품의 구체적인 파라미터가 나타내는 품질상태를 분석해 낼 뿐 아니라 다양한 차트, 그래프 등 기능을 통합적으로 보여줌으로써, 간단하고 효율적인 품질관리 업무가 가능하게 하며 실시간으로 정확한 품질데이터를 수집하여 품질관리자로 하여금 정확한 결정을 내릴 수 있게 합니다.
                <ul>
                    <li class="depth1">품질데이터</li>
                    <li class="depth1">품질기획</li>
                    <li class="depth1">Gage관리</li>
                    <li class="depth1">공급업체 품질관리</li>
                </ul>
            </li>
            </ul>
        </div>

        <div>
            <ul>
                <li class="module4">
                    <span class="title">고객관리</span>
                    <span class="titleEng">Sales Management</span>
                    고객의 수요를 실시간으로 업데이트 함으로써 보다 효율적으로 생산을 계획하고 전할 수 있게 하며, 고객의 가격 문의 및 자체적인 입찰 정보에 대한 트래킹 및 분석을 통하여 기업으로 하여금 더 많은 업무개척 기회를 얻을 수 있게 합니다.
                    <ul>
                        <li class="depth1">견적발행관리</li>
                        <li class="depth1">고객 및 오더관리</li>
                        <li class="depth1">적재 및 운송</li>
                        <li class="depth1">완제품재고</li>
                    </ul>
                </li>
                <li class="module5">
                    <span class="title">공급망관리</span>
                    <span class="titleEng">Supply Chain Management</span>
                    제조기업의 공급업체 관련 기초정보 관리 및 유지보수와 일상적인 구매업무의 체계적인 처리를 도와줄 뿐만 아니라, 시스템에 기 설정된 공급업체 포털을 통하여 온라인으로 불량품 신고 및 처리, 가격 문의 및 입찰, 출고 및 입고 관련 정보의 공유 등 쌍방향 정보 처리가 가능하게 해줍니다.
                    <ul>
                        <li class="depth1">공급업체정보</li>
                        <li class="depth1">구매관리</li>
                        <li class="depth1">원자재, 외부구매부품재고 관리</li>
                        <li class="depth1">Supplier Portal 공급업체포털</li>
                    </ul>
                </li>
                <li class="module6">
                    <span class="title">엔지니어링데이터관리</span>
                    <span class="titleEng">Engineering Data Management</span>
                    수작업 처리 대체하여 각 업무부서의 개개인이 사용하는 엔지니어링 데이터가 모두 일치할 수 있게, 또는 최신 버전의 데이터를 사용할 수 있게 도와줍니다.
                    <ul>
                        <li class="depth1">엔지니어링 데이터 및 변경관리</li>
                        <li class="depth1">프로젝트관리(PMS)</li>
                    </ul>
                </li>
        </ul>
        </div>
</div>
