<a href="site_main" class="brand"></a>
<div class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
    <div class="cbp-hsinner">
        <ul class="cbp-hsmenu">
            <li>
                <a href="#" class="childY">제품소개</a>
                <ul class="cbp-hssubmenu cbp-hssub-rows">
                    <li>
						<a href="site_prod_mes">
							<span class="prodname mes">생산관리시스템<span>Manufacturing Execution System</span></span>
						</a>
					</li>
                    <li>
						<a href="site_prod_qms">
							<span class="prodname qms">품질관리시스템<span>Quality Management System</span></span>
						</a>
					</li>
                    <li>
						<a href="site_prod_scm">
							<span class="prodname scm">공급망관리시스템<span>Supply Chain Management</span></span>
						</a>
					</li>
                    <li>
						<a href="site_prod_crm">
							<span class="prodname crm">고객관리시스템<span>Customer Relationship Management</span></span>
						</a>
					</li>
                    <li>
						<a href="site_prod_edm">
							<span class="prodname edm">공정데이타관리<span>Engineering Data Management</span></span>
						</a>
					</li>
                    <li>
						<a href="site_prod_wms">
							<span class="prodname wms">창고관리시스템<span>Warehouse Management System</span></span>
						</a>
					</li>
                </ul>
            </li>
            <li>
                <a href="#" class="childY">적용산업군</a>
                <ul class="cbp-hssubmenu">
                    <li>
						<a href="site_indu_automotive">
							<span class="bizname auto">자동차<span>Automotive</span></span>
						</a>
					</li>
                    <li>
						<a href="site_indu_electronics">
							<span class="bizname elect">전자<span>Electronics</span></span>
						</a>
					</li>
                    <li>
						<a href="site_indu_mechanics">
							<span class="bizname mecha">기계<span>Mechanics</span></span>
						</a>
					</li>
					<li>
						<a href="site_indu_metalforming">
							<span class="bizname mold">금속성형<span>Metal forming</span></span>
						</a>
					</li>
					<!--li>
						<a href="site_indu_logistics">
							<span class="bizname logistic">物流<span>Logistic</span></span>
						</a>
					</li-->
                </ul>
            </li>
            <li><a href="site_company">기업목적</a></li>
            <li><a href="site_support">고객지원</a></li>
        </ul>
    </div>
</div>
