<% content_for :clazz do 'company' end %>

<% content_for :concept do %>
<div class="subconcept company">

</div>
<% end %>

<div class="subContentWrap company">
	<p><img src="/assets/site/companyTitle.png"/>
    <p><span>하티오랩</span>은 "중소 제조 기업 경쟁력 확보에 기여하는 IT 서비스의 제공"을 회사의 사명으로 생각합니다.</p>
    <p>고객이 진정으로 필요로 하는 것을 제공하기 위한 목적으로 부단히 IT 기술을 고민합니다.</p>
    <p>항상 빠르고 견고하면서 사용하기 편하고 쉬운 IT 기술을 고민합니다.</p>

가혹한 경쟁과 노동 시장 , 가격이 비용은 광범위한 제조 모델 을 반영하기 위해 , 과거 에 우리를 강제 상승 , 전통 산업 의 업그레이드 는 필수적이다.
생산 자동화 및 관리 정보 : 효율적인 현대 제조 모델 은 두 가지 측면 을 다루고 있습니다.
	</p>
	<img src="/assets/site/companyImg.png"/>
</div>
