<% content_for :clazz do 'company' end %>

<% content_for :concept do %>
<div class="subconcept company">
	
</div>
<% end %>

<div class="subContentWrap company">
	<p><img src="/assets/site/companyTitle.png"/>
严酷的市场竞争和不断上升的人力、物价成本迫使我们对以往粗放型制造模式进行反思，传统产业升级换代势在必行。
实现高效现代化制造模式涵盖两方面内容：生产自动化和管理信息化。
	</p>
	<img src="/assets/site/companyImg.png"/>
</div>