<% content_for :clazz do 'company' end %>

<% content_for :concept do %>
<div class="subconcept company">
	
</div>
<% end %>

<div class="subContentWrap company">
	<p><img src="/assets/site/companyTitle.png"/>
가혹한 경쟁과 노동 시장 , 가격이 비용은 광범위한 제조 모델 을 반영하기 위해 , 과거 에 우리를 강제 상승 , 전통 산업 의 업그레이드 는 필수적이다.
생산 자동화 및 관리 정보 : 효율적인 현대 제조 모델 은 두 가지 측면 을 다루고 있습니다.
	</p>
	<img src="/assets/site/companyImg.png"/>
</div>