<% content_for :clazz do 'company' end %>

<% content_for :concept do %>
<div class="subconcept company">

</div>
<% end %>

<div class="subContentWrap company">
	<p><img src="/assets/site/companyTitle.png"/>
    <p><span>하티오랩</span>은 "중소 제조 기업 경쟁력 확보에 기여하는 IT 서비스의 제공"을 회사의 사명으로 생각합니다.</p>
    <p>고객이 진정으로 필요로 하는 것을 제공하기 위한 목적으로 부단히 IT 기술을 고민합니다.</p>
    <p>항상 빠르고 견고하면서 사용하기 편하고 쉬운 IT 기술을 고민합니다.</p>
    <p>가혹한 시장경쟁과 지속적으로 치솟는 인건비, 물가비용 등 여건은 우리로 하여금 거시적인 제조모델에 대하여 다시 한번 깊이 생각하게 합니다. 전통산업의 업그레이드는 이미 선택이 아니 필수가 되었습니다. 높은 효율을 뒷받침하는 현대적인 제조모델은 생산자동화 및 관리정보화 두 가지를 포함합니다.</p>
	<img src="/assets/site/companyImg.png"/>
</div>
