<% content_for :clazz do 'indu' end %>

<% content_for :concept do %>
<div class="subconcept metalforming">
	<div class="title">
		Home > 적용산업군 > 금속성형
		<label>금속성형</label>
		<span>Metal Forming Industries</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'indu_sublink' %>

<div class="subContentWrap">
	<div>
		<span class="induImg"><%= image_tag("site/indu_metalforming.png", :alt => "metalforming") %></span>
		<span class="cyanText">금속 산업 에게 많은 고가 의 제조 지지개발 을위한 기초 로서 형성한다.</span>
		다른 성형 공정 과 디자인을위한 다양한 시스템 기능 과 웨이 센 관리 시스템입니다. 어떤 시스템 모듈 의 주제 와 관련된 주조 , 단조 , 스탬핑 , 가공 및 기타 프로세스 다양한 종류 가 포함되어 있습니다.
	</div>

    <%= render :partial => 'module' %>

</div>
