<% content_for :clazz do 'indu' end %>

<% content_for :concept do %>
<div class="subconcept automotive">
	<div class="title">
		Home > 적용산업군 > 자동차
		<label>자동차</label>
		<span>Automotive Industries</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'indu_sublink' %>

<div class="subContentWrap">
	<div>
		<span class="induImg"><%= image_tag("site/indu_automotive.png", :alt => "automotive") %></span>
		<span class="cyanText">자동차 부품 은 보조 기능 의 매우 체계적인 작업 이 있습니다. 효율성, 린 제조, 품질 관리 , 실제로 그리 멀리 우리 의 슬로건 에 익숙한 사람들 을 향상 , 비용을 절감 할 수 있습니다.</span>
		웨이 센 각 시스템 모듈이 효과적으로 운영 효율성과 경쟁력을 강화 , 완벽한 관리 시스템 공급 업체의 생산, 판매 , 구매, 품질 , 엔지니어링 및 기타 서비스를 효율적으로 조정을 할 수 있습니다.
	</div>

    <%= render :partial => 'module' %>

</div>
