<% content_for :clazz do 'indu' end %>

<% content_for :concept do %>
<div class="subconcept automotive">
	<div class="title">
		Home > 적용산업군 > 자동차
		<label>자동차</label>
		<span>Automotive Industries</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'indu_sublink' %>

<div class="subContentWrap">
	<div>
		<span class="induImg"><%= image_tag("site/indu_automotive.png", :alt => "automotive") %></span>
		<span class="cyanText">자동차 부품 은 보조 기능 의 매우 체계적인 작업 이 있습니다. 효율성, 린 제조, 품질 관리 , 실제로 그리 멀리 우리 의 슬로건 에 익숙한 사람들 을 향상 , 비용을 절감 할 수 있습니다.</span>
		웨이 센 각 시스템 모듈이 효과적으로 운영 효율성과 경쟁력을 강화 , 완벽한 관리 시스템 공급 업체의 생산, 판매 , 구매, 품질 , 엔지니어링 및 기타 서비스를 효율적으로 조정을 할 수 있습니다.
	</div>

	<div class="sysModule">
		<label><span>시스템 모듈</span>System Modules</label>
		<div>
			<ul>
				<li class="module1">
					<span class="title">생산관리</span>
					<span class="titleEng">Production management</span>
					지능형 데이터 캡처 및 제조 공정 의 실시간 제어를 통해 제조 ,생산 라인 밀접 특정 비즈니스 다양한 사업 분야 와 연동 발생하는 이벤트 의다양한 것이다.
					<ul>
						<li class="depth1">설비관리</li>
						<li class="depth1">공구관리</li>
						<li class="depth1">생산계획</li>
						<li class="depth1">생산실적</li>
						<li class="depth1">Bar Coding 라벨</li>
					</ul>
				</li>
				<li class="module2">
					<span class="title">창고관리</span>
					<span class="titleEng">inventory management</span>
					엔터프라이즈 저장 환경은 과잉 재고 잔고 를 피하기 위해 불필요 하게 실시간으로 업데이트질서라이브러리 기억 정보를 유지 인벤토리 정보 의정밀도를 향상 되도록 모든 항목 ,창고의전반적인 관리 화물 공간 역사 및 기타 정보.
					<ul>
						<li class="depth1">입고관리</li>
						<li class="depth1">재고관리</li>
						<li class="depth1">출고관리</li>
					</ul>
				</li>
				<li class="module3">
					<span class="title">품질관리</span>
					<span class="titleEng">Quality management</span>
					완성 된 상태 의품질 , 중간 제품 , 예컨대생산 라인 과 오프라인 의 실시간 모니터링 등의 원료 와 ,특정 제품 파라미터들의성능, 내장형 디스플레이 차트, 그래프 등의 다양한 기능 의품질 의 제품 품질 정보 및 분석을 수집 되도록품질 관리 업무 간단하고 효율적인 인간 간섭 제거 , 실시간 및 정확한 데이터 의품질 때문에,관리자의품질은올바른 결정 을 한다.
					<ul>
						<li class="depth1">품질데이터</li>
						<li class="depth1">품질기획</li>
						<li class="depth1">Gage관리</li>
						<li class="depth1">공급업체 품질관리</li>
					</ul>
				</li>
				</ul>
			</div>

			<div>
				<ul>
					<li class="module4">
						<span class="title">고객관리</span>
						<span class="titleEng">sales management</span>
						고객에게 실시간 업데이트 는 보다 효율적으로 생산물류 스케줄 에 기여할 필요가 , 고객의 문의 를 자신의 추적 분석 회사에서 더 개발 사업 기회를 얻을 수 있도록 제공한다.				<ul>
							<li class="depth1">견적발행관리</li>
							<li class="depth1">고객 및 오더관리</li>
							<li class="depth1">적재 및 운송</li>
							<li class="depth1">완제품재고</li>
						</ul>
					</li>
					<li class="module5">
						<span class="title">공급망관리</span>
						<span class="titleEng">supply chain management</span>
						정보 관리 및 인프라와 체계적인 매일 조달 작업 의 유지 보수 의 제공 뿐만 아니라,보고 및 결함이있는 제품 의 처리, 온라인 조회 서비스 제공 입력 ,같은 공급 업체 의 온라인 상호 작용 , 빌드공급 업체 포털을 통해 도서관 등 정보 공유 및 저장.
						<ul>
							<li class="depth1">공급업체정보</li>
							<li class="depth1">구매관리</li>
							<li class="depth1">원자재, 외부구매부품재고 관리</li>
							<li class="depth1">Supplier portal 공급업체포털</li>
						</ul>
					</li>
					<li class="module6">
						<span class="title">공정데이터관리</span>
						<span class="titleEng">engineering data management</span>
						대신에 수동 조작 으로 ,변경 관리 프로세스 가 보다 효율적이고 보다 엄격한 하게 사용되는 각 사업부 의 엔지니어링 데이터 의 일관성을 보장한다.
						<ul>
							<li class="depth1">공정데이터 및 변경관리</li>
							<li class="depth1">프로젝트관리(PMS)</li>
						</ul>
					</li>
			</ul>
			</div>
	</div>
</div>
