<% content_for :clazz do 'indu' end %>

<% content_for :concept do %>
<div class="subconcept automotive">
	<div class="title">
		Home > 적용산업군 > 자동차
		<label>자동차</label>
		<span>Automotive Industries</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'indu_sublink' %>

<div class="subContentWrap">
	<div>
		<span class="induImg"><%= image_tag("site/indu_automotive.png", :alt => "automotive") %></span>
		<span class="cyanText">자동차 부품 세트는 매우 체계적으로 동작되는 특징이 있습니다. 비용을 절감하고 효율은 제고하며 보다 정밀하게 생산하며 이 과정에서 품질을 모니터링 하는 것, 우리에게 너무나 익숙한 이 슬로건은 실제로 그리 멀리 있는 건 아닙니다.</span>
        하티오랩 관리 시스템의 각 시스템 모듈은 공급업체의 생산, 판매, 구매, 품질, 공정 등 일련의 업무를 고효율적으로 시스템화하여 운영할 수 있게 함으로써 기업 자체의 운영효율과 경쟁력을 효과적으로 제고할 수 있게 합니다.
	</div>

    <%= render :partial => 'module' %>

</div>
