<% content_for :clazz do 'indu' end %>

<% content_for :concept do %>
<div class="subconcept mechanics">
	<div class="title">
		Home > 적용산업군 > 기계
		<label>기계</label>
		<span>Mechanics Industries</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'indu_sublink' %>

<div class="subContentWrap">
	<div>
		<span class="induImg"><%= image_tag("site/indu_mechanics.png", :alt => "mechanics") %></span>
		<span class="cyanText">기계 제조 산업은 우선 순위 의주요 기능 중조립체 를 주는주요 이산 , 자본 프로세스 , 기술, 노동 집약적 산업 이다.</span>
		저가형 기계 제조 기업 에 대한 웨이 센 변경 관리 체계 , 많은 워크샵 문서, 동적 변형 가능생산 공정 을 개발하기위한 자동화 및 낮은 생산 작업 , 프로세스 , 재료 의 품질 및 기타 데이터 의필요한 레벨을 제공하기 위해 플랜의어려움 수집 및 추적 , 뿐만 아니라 생산 설비 및 관리 기능 등의 도구.
	</div>

    <%= render :partial => 'module' %>

</div>
