<% content_for :clazz do 'indu' end %>

<% content_for :concept do %>
<div class="subconcept metalforming">
	<div class="title">
		Home > 적용산업군 > 금속성형
		<label>금속성형</label>
		<span>Metal Forming Industries</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'indu_sublink' %>

<div class="subContentWrap">
	<div>
		<span class="induImg"><%= image_tag("site/indu_metalforming.png", :alt => "metalforming") %></span>
		<span class="cyanText">금속 성형 및 가공은 기초 공업 산업으로 수많은 첨단제조업의 발전을 위한 기초 역할을 해 왔습니다.</span>
        하티오랩 관리 시스템은 서로 다른 성형 공정을 위한 다양한 시스템 기능을 제공하고 있습니다. 그 중에는 주조, 단조, 스탬핑, 절삭가공 등 공정 유형과 관련되는 여러 가지 시스템 모듈들이 포함되어 있습니다.
	</div>

    <%= render :partial => 'module' %>

</div>
