<% content_for :clazz do 'indu' end %>

<% content_for :concept do %>
<div class="subconcept mechanics">
	<div class="title">
		home > industries > 机械
		<label>机械</label>
		<span>Mechanics Industries</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'indu_sublink' %>

<div class="subContentWrap">
	<div>
		<span class="induImg"><%= image_tag("site/indu_mechanics.png", :alt => "mechanics") %></span>
		<span class="cyanText">机械制造行业属于资本、技术、劳动力密集型产业，具有以离散为主、流程为辅、装配为重点的主要特点。</span>
		蔚森管理系统面向变革中的中低端机械制造企业，针对其计划制订困难，生产过程动态多变，车间单据繁多，自动化水平低等特点提供必要的生产任务、工艺过程、物料、质量等数据的采集和追溯，以及对其生产设备和工具等的管理功能。
	</div>
	
	<div class="sysModule">
		<label><span>系统模块</span>System Modules</label>
		<div>
			<ul>
				<li class="module1">
					<span class="title">生产管理</span>
					<span class="titleEng">Production management</span>
					通过智能捕捉实时生产数据和控制制造过程，将生产线上所发生的各种事件与各个业务部门的具体业务紧密连接起来。
					<ul>
						<li class="depth1">设备管理</li>
						<li class="depth1">工具管理</li>
						<li class="depth1">生产计划</li>
						<li class="depth1">生产实绩</li>
						<li class="depth1">Bar Coding 标签</li>
					</ul>
				</li>
				<li class="module2">
					<span class="title">库存管理</span>
					<span class="titleEng">inventory management</span>
					统筹管理仓库内的所有物品、货位、履历等信息，让企业的仓储环境保持井然有序，出库入库信息实时更新，提高库存信息的准确性，使之避免积压不必要的过多库存。
					<ul>
						<li class="depth1">入库管理</li>
						<li class="depth1">库存管理</li>
						<li class="depth1">出库管理</li>
					</ul>
				</li>
				<li class="module3">
					<span class="title">质量管理</span>
					<span class="titleEng">Quality management</span>
					实时监控生产线上与线下的成品、中间产品、原材料等物料的质量状态，搜集产品质量信息，并分析具体产品某个参数的质量表现，集成显示各种图表、曲线等功能，使质量管理业务简单高效，摆脱人为干扰，获得实时准确的质量数据，以便质量管理者作出正确决策。
					<ul>
						<li class="depth1">质量数据</li>
						<li class="depth1">质量规划</li>
						<li class="depth1">Gage管理</li>
						<li class="depth1">供应商质量管理</li>
					</ul>
				</li>
				</ul>
			</div>
			
			<div>
				<ul>
					<li class="module4">
						<span class="title">销售管理</span>
						<span class="titleEng">sales management</span>
						客户需求的实时更新有助于更有效地进行生产计划安排组织生产；客户询价及自身报价的跟踪分析可让企业获得更多业务拓展机遇。				<ul>
							<li class="depth1">报价管理</li>
							<li class="depth1">客户及订单管理</li>
							<li class="depth1">装运</li>
							<li class="depth1">成品库存</li>
						</ul>
					</li>
					<li class="module5">
						<span class="title">供应链管理</span>
						<span class="titleEng">supply chain management</span>
						提供供应商基础信息的管理维护和日常采购业务的系统化处理，还通过内嵌的供应商门户实现与供应商的在线互动，如缺陷产品的申报及处理、询价报价业务的在线输入、出库与入库信息共享等等。
						<ul>
							<li class="depth1">供应商信息</li>
							<li class="depth1">采购管理</li>
							<li class="depth1">原材料、外购件库存管理</li>
							<li class="depth1">Supplier portal 供应商门户</li>
						</ul>
					</li>
					<li class="module6">
						<span class="title">工程数据管理</span>
						<span class="titleEng">engineering data management</span>
						代替人工操作，保障每个业务部门所用的工程数据的一致性，使变更管理流程更有效，更严谨。
						<ul>
							<li class="depth1">工程数据及变更管理</li>
							<li class="depth1">项目管理(PMS)</li>
						</ul>
					</li>
			</ul>
			</div>
	</div>
</div>