<% content_for :clazz do 'indu' end %>

<% content_for :concept do %>
<div class="subconcept electronics">
	<div class="title">
		Home > 적용산업군 > 전자
		<label>전자</label>
		<span>Electronics Industries</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'indu_sublink' %>

<div class="subContentWrap">
	<div>
		<span class="induImg"><%= image_tag("site/indu_electronics.png", :alt => "electronics") %></span>
		<span class="cyanText">전자소자, IC, 부품, 제품 원자재, 완제품 등 전자제품 분야에서의 경쟁은 특히나 심합니다.
        제품 라인에서 서로 다른 위치에 있는 제품간의 차이는 비교적 큰 편이며 시스템을 통한 제어의 측면에서도 많은 차이가 있습니다.</span>
        하티오랩의 관리 시스템은 전자제품 업계의 이산형, 다품종, 대량생산, 제품의 빈번한 갱신율 등 특징에 입각하여 생산과정 모니터링, 오투입방지, 자재소급, 품질관리 등 포괄적인 관리기능을 제공합니다.
	</div>

    <%= render :partial => 'module' %>

</div>
