<% content_for :clazz do 'indu' end %>

<% content_for :concept do %>
<div class="subconcept logistics">
	<div class="title">
		Home > 적용산업군 > 물류
		<label>물류</label>
		<span>Logistics Industries</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'indu_sublink' %>

<div class="subContentWrap">
	<div>
		<span class="induImg"><%= image_tag("site/indu_logistics.png", :alt => "electronics") %></span>
		<span class="cyanText">title description</span>
		description
	</div>

    <%= render :partial => 'module' %>

</div>
