<% content_for :clazz do 'main' end %>

<% content_for :site_auth do %>
<% end %>

<% content_for :concept do %>
	<div class="flashMovie">
		<!--script>loadFlash("<%=asset_path('site/main.swf')%>","560","299","mainmovie")</script-->
		<img src="/assets/site/conceptMain.png"/>
	</div>
	<div class="productDescription">
		<label>생산관리시스템</label>
		<p><span>Manufacturing Execution System</span>
			생산관리시스템의 각종 특화된 기능들은 직원들이 가장 쉬운 방법으로 가장 정확한 일을 할 수 있게 도와줌으로써 생산성이 대폭 제고될 수 있게 해줍니다. 실시간으로 업데이트 되는 생산정보를 통하여 언제 어디서나 모든 일상적인 업무를 처리할 수 있습니다. 전체 작업장 곳곳에 배치된 하티오랩의 시스템을 통하여 품질, 효율, 추적, 생산성 및 수익성 등 전반적으로 향상된 서비스를 체험해 보십시오.
		</p>
		<!--a href="#">Learn more</a-->
		<a href="site_prod_mes">관련 제품 보기</a>
	</div>
<% end %>

<div class="hatiolabWrap">
	<div class="description">
		<span>기업관리시스템은 더 이상 대규모 기업만을 위한 도구가 아닙니다.</span>
귀사를 위해 맞춤제작된 최적의 시스템 구성은 적은 투자비용으로도 효율적인 경영관리툴을 제공받을 수 있으며,
소프트웨어의 기능 및 투자 비용 사이에서 최고의 균형점을 찾을 수 있게 도와줍니다.
더불, 사용자 친화적인 인터페이스와 정교한 시스템 기능을 통하여 편리하게 사용할 수 있습니다.
	</div>
	<div class="contactInfo">
		<span class="title">Help Desk</span>
		<span class="comment">Hatio, Lab. helps the world's leading manufacturers succeed.</span>
		<span class="phone">010-2608-1802</span>
		<span class="mail">heartyoh@hatiolab.com</span>
	</div>
</div>

<div class="industriesWrap">
	<div class="description">각각의 산업은 저마다의 도전에 직면해 있습니다.<span>Hatio, Lab. Industries</span></div>
	<ul>
		<li>
			<a href="site_indu_automotive">
				<span class="bizArea automotive"></span>
				<label>자동차</label>
				<p>전통제조패턴과 정보기술의 융합으로, 선진 제조기업으로의 도약</p>
			</a>
		</li>
		<li>
			<a href="site_indu_electronics">
				<span class="bizArea electronics"></span>
				<label>전자</label>
				<p>생산공정 제어, 자재추적, 품질관리등 전면적인 관리기능</p>
			</a>
		</li>
		<li>
			<a href="site_indu_mechanics">
				<span class="bizArea mechanics"></span>
				<label>기계</label>
				<p>부품이 주가 되고 공정이 보조역할을 해주는 조립중심 산업</p>
			</a>
		</li>
		<li>
			<a href="site_indu_metalforming">
				<span class="bizArea mold"></span>
				<label>금속 성형</label>
				<p>주조, 단조, 스탬핑, 절삭가공 등의 제조 방법별 특성에 따른 통합 관리 및 제어</p>
			</a>
		</li>
		<!--li>
			<a href="site_indu_logistics">
				<span class="bizArea logistic"></span>
				<label>物流</label>
				<p>With the accelerated globalization of production facilities, maintaining</p>
			</a>
		</li-->
	</ul>
</div>
