<% content_for :clazz do 'main' end %>

<% content_for :site_auth do %>
<% end %>

<% content_for :concept do %>
	<div class="flashMovie">
		<!--script>loadFlash("<%=asset_path('site/main.swf')%>","560","299","mainmovie")</script-->
		<img src="/assets/site/conceptMain.png"/>
	</div>
	<div class="productDescription">
		<label>생산관리시스템</label>
		<p><span>Manufacturing Execution System</span>
			蔚森系统软件成长于实体经济制造环境，因此其生产管理系统MES（Manufacturing Execution System）是蔚森整体系统软件的核心系统，如同生产管理是制造企业的核心业务一般。
		</p>
		<!--a href="#">Learn more</a-->
		<a href="site_prod_mes">关联产品链接</a>
	</div>
<% end %>

<div class="hatiolabWrap">
	<div class="description">
		<span>蔚森<span>企业管理系统已不只是大规模企业的专属工具。</span></span>
		我们为您的企业度身定制的最优系统配置，可在软件功能和投入成本之间寻找最佳平衡点，让您用相对低廉的投入获得高效的经营管理工具。
		亲切的用户界面和成熟的系统功能会让您在使用时得心应手。
	</div>
	<div class="contactInfo">
		<span class="title">如果您需要任何帮助</span>
		<span class="comment">Hatio, Lab. helps the world's leading manufacturers succeed.</span>
		<span class="phone">010-2608-1802</span>
		<span class="mail">admin@hatiolab.com</span>
	</div>
</div>

<div class="industriesWrap">
	<div class="description">Each industry faces its own set of challenges<span>Hatio, Lab. Industries</span></div>
	<ul>
		<li>
			<a href="site_indu_automotive">
				<span class="bizArea automotive"></span>
				<label>汽车</label>
				<p>传统制造模式与信息技术的碰撞，迈向先进制造业</p>
			</a>
		</li>
		<li>
			<a href="site_indu_electronics">
				<span class="bizArea electronics"></span>
				<label>电子</label>
				<p>生产过程控制、物料追溯、质量管理等全方位的管理功能</p>
			</a>
		</li>
		<li>
			<a href="site_indu_mechanics">
				<span class="bizArea mechanics"></span>
				<label>机械</label>
				<p>离散为主，流程为辅，装配为重点</p>
			</a>
		</li>
		<li>
			<a href="site_indu_metalforming">
				<span class="bizArea mold"></span>
				<label>金属成型</label>
				<p>铸、锻、冲、机加工等制造方式按自身特点的综合管控</p>
			</a>
		</li>
		<!--li>
			<a href="site_indu_logistics">
				<span class="bizArea logistic"></span>
				<label>物流</label>
				<p>With the accelerated globalization of production facilities, maintaining</p>
			</a>
		</li-->
	</ul>
</div>
