<% content_for :clazz do 'main' end %>

<% content_for :site_auth do %>
<% end %>

<% content_for :concept do %>
	<div class="flashMovie">
		<!--script>loadFlash("<%=asset_path('site/main.swf')%>","560","299","mainmovie")</script-->
		<img src="/assets/site/conceptMain.png"/>
	</div>
	<div class="productDescription">
		<label>생산관리시스템</label>
		<p><span>Manufacturing Execution System</span>
			실물 ,환경 웨이 센 시스템 소프트웨어 제조업 성장 및 (제조 실행 시스템) 따라서, 생산 관리 시스템  MES（Manufacturing Execution System） 는회사의 핵심 업무 는 일반적으로 제조 된 바와 같이전체 시스템 소프트웨어 웨이 센 코어 시스템 , 생산 관리 이다 .
		</p>
		<!--a href="#">Learn more</a-->
		<a href="site_prod_mes">관련 제품 링크</a>
	</div>
<% end %>

<div class="hatiolabWrap">
	<div class="description">
		<span>蔚森<span>기업 관리 시스템 뿐만 아니라대규모 기업 전용 도구 왔다.</span></span>
		우리는 최고의 균형점 을 찾기 위해 소프트웨어 기능 및 투입 비용 사이에 , 당신의 비즈니스 맞춤형 최적의 시스템 구성 , 그래서 당신은 상대적으로 낮은 투자 와 효율적인 관리 툴을 얻을 .
		때 사용 친숙한 사용자 인터페이스 와 정교한 시스템 기능을 사용하면 편리 할 수 있습니다.
	</div>
	<div class="contactInfo">
		<span class="title">당신은 어떤 도움이 필요하면</span>
		<span class="comment">Hatio, Lab. helps the world's leading manufacturers succeed.</span>
		<span class="phone">010-2608-1802</span>
		<span class="mail">admin@hatiolab.com</span>
	</div>
</div>

<div class="industriesWrap">
	<div class="description">Each industry faces its own set of challenges<span>Hatio, Lab. Industries</span></div>
	<ul>
		<li>
			<a href="site_indu_automotive">
				<span class="bizArea automotive"></span>
				<label>자동차</label>
				<p>충돌 전통적인 제조 모델 과 정보 기술 , 대한 첨단 제조</p>
			</a>
		</li>
		<li>
			<a href="site_indu_electronics">
				<span class="bizArea electronics"></span>
				<label>전자</label>
				<p>생산 공정 제어 , 소재 추적 , 품질 관리 , 관리 기능 의 전체 범위</p>
			</a>
		</li>
		<li>
			<a href="site_indu_mechanics">
				<span class="bizArea mechanics"></span>
				<label>기계</label>
				<p>어셈블리의 개별 기반 프로세스 주는 강조</p>
			</a>
		</li>
		<li>
			<a href="site_indu_metalforming">
				<span class="bizArea mold"></span>
				<label>금속 성형</label>
				<p>통합 관리 및 제어 자신의 특성에 따라 주조 , 단조, 펀칭 , 가공 등의 제조 방법</p>
			</a>
		</li>
		<!--li>
			<a href="site_indu_logistics">
				<span class="bizArea logistic"></span>
				<label>物流</label>
				<p>With the accelerated globalization of production facilities, maintaining</p>
			</a>
		</li-->
	</ul>
</div>
