<% content_for :clazz do 'prod' end %>

<% content_for :concept do %>
<div class="subconcept crm">
	<div class="title">
		Home > 제품소개 > 고객관리시스템
		<label>고객관리시스템</label>
		<span>Customer Relationship Management</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'prod_sublink' %>

<div class="subContentWrap crm">
	<div>
		<span class="prodImg"></span>
		<span class="greenText">판매 관리 사업은 완료 고객의 주문 이나 생산 계획 에 상품 의 재고 를 수렴 한다 제조 업체는 결과와 채권, 웨이 센 고객 관리 시스템 CRM ( Customer Relationship Management ) 에 대한 고객의 요구 를 생산 에 연결 고객이 요구하는 외부 창 결합 판매 의 역할을 발휘 하는 것입니다 내부 변환 정보는 보다 원활하게 실행할 수 있다</span>

		실시간 고객 에 대한 업데이트 는 보다 효율적 생산을위한 생산 일정 에 기여할 필요가 ; 추적하고 그들의 고객 문의 를 분석하고 인용 은 기업이 더 많은 비즈니스 개발 기회 를 얻을 수 있습니다.<br/><br/><br/>
		<%= image_tag("site/archCRM.png", :alt => "SCM Architecture") %>
	</div>
	<div class="feature">
		<div>
			<label>견적 발행 관리</label>
			<ul>
				<li class="depth1">견적서 관리</li>
				<li class="depth2">번호, 종류, 기한, 상태, 등 내용의 추적</li>
				<li class="depth1">프로세스 관리</li>
				<li class="depth2">해당부문 혹은 책임자가 내부프로세스 순서에 근거하여 오퍼내용을 입력</li>
				<li class="depth1">계산서이력</li>
			</ul>

			<label>고객 및 오더관리</label>
			<ul>
				<li class="depth1">고객정보분류관리</li>
				<li class="depth1">PO & Release</li>
				<li class="depth2">EDI와 시스템연결</li>
				<li class="depth1">PO vs. Shipping</li>
				<li class="depth2">이력비교</li>
				<li class="depth1">재고와 생산계획간의 연결</li>
				<li class="depth1">Invoice 생성 및 프린트</li>
				<li class="depth1">고객만족도</li>
				<li class="depth2">자체평가 혹은 고객이 회사의 가격, 지불신속성, 품질 등 지표에 대한 평가를 기록</li>
				<li class="depth1">고객불평</li>
				<li class="depth2">불평정보관리，대응과정추적 （CAR, 8D)</li>
			</ul>
		</div>

		<div>
			<label>적재 및 운송</label>
			<ul>
				<li class="depth1">완제품재고확인</li>
				<li class="depth1">Shipping : PO No.</li>
				<li class="depth2">Lot No. 맞게 입력</li>
				<li class="depth1">시스템은 실시간으로 실물 출고를 반영</li>
				<li class="depth1">전표프린트</li>
			</ul>

			<label>완제품재고</label>
			<ul>
				<li class="depth1">완제품 출고 등록</li>
				<li class="depth1">완제품 재고 관리</li>
				<li class="depth1">선입선출</li>
				<li class="depth1">창고위치관리</li>
			</ul>
		</div>
	</div>
</div>
