<% content_for :clazz do 'prod' end %>

<% content_for :concept do %>
<div class="subconcept qms">
	<div class="title">
		Home > 제품소개 > 품질관리시스템
		<label>품질관리시스템</label>
		<span>Quality Management System</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'prod_sublink' %>

<div class="subContentWrap qms">
	<div>
		<span class="prodImg"></span>
		<span class="greenText">Things 품질관리시스템은 TS16949, QS9000 등 품질관리시스템과 그 맥락을 같이 하며, 모든 사업영역의 품질관련 업무 전반에 걸쳐 제품의 품질 안정성을 제고하고 편차를 줄여주며 합격율을 높여주고 제품의 결함율을 낮춰줍니다.</span>
        Things 품질관리시스템 QMS(Quality Management System)은 생산라인 및 오프라인의 완제품, 중간 제품 및 원자재 등 자재의 품질상태를 실시간으로 모니터링하여 제품의 품질정보를 수집하고 이를 제조기업의 자체적인 품질관리모델과 결부하여 제품의 구체적인 파라미터가 나타내는 품질상태를 분석해 낼 뿐 아니라 다양한 차트, 그래프 등 기능을 통합적으로 보여줌으로써, 간단하고 효율적인 품질관리 업무가 가능하게 하며 실시간으로 정확한 품질데이터를 수집하여 품질관리자로 하여금 정확한 결정을 내릴 수 있게 합니다.
		<%= image_tag("site/archQMS.png", :alt => "QMS Architecture", :class => "marginT40") %>

	</div>
	<div class="feature">
		<div>
			<label>품질데이터</label>
			<ul>
				<li class="depth1">IQC (Incoming Quality Control), OQC (Outgoing Quality Control) 검사데이터관리</li>
				<li class="depth1">Control Plan기반의 검사 프로세스</li>
				<li class="depth1">불량종류 정의, 불량수량의 분할관리</li>
				<li class="depth1">불량품추적 및 확인</li>
				<li class="depth2">Lot추적, 검사데이터 추적</li>
				<li class="depth1">CAR, 8D</li>
				<li class="depth2">정리 개혁보고, 조치</li>
				<li class="depth1">프로세스 능력 계산분석</li>
				<li class="depth1">생산검사 보고 및 품질보고</li>
			</ul>

			<label>품질기획</label>
			<ul>
				<li class="depth1">APQP</li>
				<li class="depth2">전기품질기획 원칙에 근거하여 각종 품질 임무를 제정</li>
				<li class="depth1">내부심사</li>
				<li class="depth2">정기 내부심사, 과정심사의 계획 및 기록</li>
				<li class="depth1">Continuous Improvement</li>
				<li class="depth2">추적이력 예를들면 원자재 절약, 최적의 규범, poka-yoke(오류방지 오류발견)등 지속적 개선항목</li>
			</ul>
		</div>

		<div>
			<label>Gage관리</label>
			<ul>
				<li class="depth1">코드, 바코드관리로 게이지 정보관리</li>
				<li class="depth1">게이지 교정, 유지보수 계획의 관리 및 실시</li>
				<li class="depth1">Gage R&R</li>
				<li class="depth2">게이지 중복성 재현성을 분석</li>
			</ul>

			<label>공급업체품질관리</label>
			<ul>
				<li class="depth1">잠재공급업체 품질 심사</li>
				<li class="depth1">공급업체PPAP심사</li>
				<li class="depth1">공급업체 불량기록, 정리 개선 실시 기록</li>
				<li class="depth1">공급업체 품질 평가</li>
				<li class="depth1">정기심사 계획, 기록</li>
			</ul>
		</div>
	</div>
</div>
