<% content_for :clazz do 'prod' end %>

<% content_for :concept do %>
<div class="subconcept wms">
	<div class="title">
		Home > 제품소개 > 창고관리시스템
		<label>창고관리시스템</label>
		<span>Warehouse Management System</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'prod_sublink' %>

<div class="subContentWrap wms">
	<div>
		<span class="prodImg"></span>
		<span class="greenText">선입선출, 재고의 위치 설정 등은 재고관리에 있어서 기본이 되는 개념입니다.</span>
        하티오랩 창고관리시스템 WMS(Warehouse Management System)는 창고 내의 모든 물품, 위치, 이력 등 정보를 포괄적으로 관리하여 기업의 창고 환경을 질서 정연하게 정돈해 주며 출고 및 입고 정보를 실시간으로 업데이트 해줌으로써 재고 정보의 정확도를 높여주는 동시에 불필요한 과잉 재고가 발생하는 것을 막아줍니다.
	</div>
	<div class="feature">
		<div>
			<label>입고관리</label>
			<ul>
				<li class="depth1">실물검사</li>
				<li class="depth2">입고과정의 가시화 통계관리</li>
				<li class="depth1">재무처리</li>
				<li class="depth2">입고정보의 I/F를 통하여，ERP의 장부통계지원</li>
				<li class="depth1">제품데이터</li>
				<li class="depth2">실물 데이터정보를 수집, 검증, 기록</li>
				<li class="depth1">완제품검사</li>
				<li class="depth2">검사힌트 및 검사정보를 자동으로 전송 및 분석</li>
			</ul>

			<label>재고관리</label>
			<ul>
				<li class="depth1">선입선출</li>
				<li class="depth2">출고기준규칙 설정 및 준수</li>
				<li class="depth1">상태관리</li>
				<li class="depth2">재고상태관리를 통하여 재고 사용 여부 구분</li>
				<li class="depth1">창고위치관리</li>
				<li class="depth2">재고공간을 최적화 할 수 있게 창고위치관리</li>
				<li class="depth1">점검관리</li>
				<li class="depth2">점검을 통하여 실물과 시스템데이터 일치 유지</li>
			</ul>

			<label>출고관리</label>
			<ul>
				<li class="depth1">Picking포장</li>
				<li class="depth2">Picking 및 포장프로세스의 가시화</li>
				<li class="depth1">라벨발행</li>
				<li class="depth2">출고 포장시 해당정보 및 라벨을 프린트</li>
				<li class="depth1">유통기한관리</li>
				<li class="depth2">재고주기를 통하여 재고 격리를 진행</li>
				<li class="depth1">출고확인</li>
				<li class="depth2">출고전표, 적재, 차량준비 등 출고하기 전 준비사항</li>
			</ul>
		</div>
	</div>
</div>
