<% content_for :clazz do 'prod' end %>

<% content_for :concept do %>
<div class="subconcept wms">
	<div class="title">
		home > products > 창고관리시스템
		<label>창고관리시스템</label>
		<span>Warehouse Management System</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'prod_sublink' %>

<div class="subContentWrap wms">
	<div>
		<span class="prodImg"></span>
		<span class="greenText">선입 선출 , 설정 위치 재고 관리 는기본적인 아이디어 이며</span>

		엔터프라이즈 저장 환경 ,질서 를 유지 실시간 업데이트 정보 의라이브러리 저장 및 재고 정보 의정밀도를 향상 되도록 모든 항목 화물 공간 역사창고의 다른 정보를 통합 관리 를위한 웨이 센 창고 관리 시스템 WMS (Warehouse Management System) 그래서 불필요한 과잉 재고 잔고 를 방지 할 수 있습니다.
	</div>
	<div class="feature">
		<div>
			<label>입고관리</label>
			<ul>
				<li class="depth1">실물검사</li>
				<li class="depth2">입고과정의 가시화 통계관리</li>
				<li class="depth1">재무처리</li>
				<li class="depth2">입고정보의 I/F를 통하여，ERP의 장부통계지원</li>
				<li class="depth1">제품데이터</li>
				<li class="depth2">실물 데이터정보를 수집, 검증, 기록</li>
				<li class="depth1">완제품검사</li>
				<li class="depth2">검사힌트 및 검사정보를 자동으로 전송 및 분석</li>
			</ul>
			
			<label>재고관리</label>
			<ul>
				<li class="depth1">선입선출</li>
				<li class="depth2">출고기준규칙 설정 및 준수</li>
				<li class="depth1">상태관리</li>
				<li class="depth2">재고상태관리를 통하여 재고 사용 여부 구분</li>
				<li class="depth1">창고위치관리</li>
				<li class="depth2">재고공간을 최적화 할 수 있게 창고위치관리</li>
				<li class="depth1">점검관리</li>
				<li class="depth2">점검을 통하여 실물과 시스템데이터 일치 유지</li>
			</ul>
			
			<label>출고관리</label>
			<ul>
				<li class="depth1">Picking포장</li>
				<li class="depth2">Picking 및 포장프로세스의 가시화</li>
				<li class="depth1">라벨발행</li>
				<li class="depth2">출고 포장시 해당정보 및 라벨을 프린트</li>
				<li class="depth1">유통기한관리</li>
				<li class="depth2">재고주기를 통하여 재고 격리를 진행</li>
				<li class="depth1">출고확인</li>
				<li class="depth2">출고전표, 적재, 차량준비 등 출고하기 전 준비사항</li>
			</ul>
		</div>
	</div>
</div>