<% content_for :clazz do 'prod' end %>

<% content_for :concept do %>
<div class="subconcept mes">
	<div class="title">
		home > products > 생산관리시스템
		<label>생산관리시스템</label>
		<span>Manufacturing Execution System</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'prod_sublink' %>

<div class="subContentWrap mes">
	<div>
		<span class="prodImg"></span>
		<span class="greenText">실물 ,환경 웨이 센 시스템 소프트웨어 제조업 성장 및 (Manufacturing Execution System) 따라서, 생산 관리 시스템 MES 는회사의 핵심 업무 는 일반적으로 제조 된 바와 같이전체 시스템 소프트웨어 웨이 센 코어 시스템 , 생산 관리 이다 .</span>

		웨이 센지능형 실시간 생산 데이터 캡처를 통해 방법 의제조 공정이전에 수동 제어 를 교체하고제조 공정 을 제어하기위한 생산 관리 시스템 은생산 라인 밀접 특정 비즈니스 다양한 사업 분야 와 연동 발생하는 이벤트 의다양한 것이다.
		<%= image_tag("site/archMES.png", :alt => "MES Architecture") %>
		소프트웨어 기능은 제조 기업이 크게 직원의 생산성을 증가 , 가장 올바른 일을 할 수있는 가장 쉬운 방법 으로 직원 을 격려한다. 실시간 생산 정보 의 업데이트 는 언제 어디서나 어떤 하향식 일상적인 업무 를 처리 하는 자신의 방법 을 더 나은 수 있습니다. 전체 생산 작업장 전체 범위 원활한 경험 의 모든 모서리 와 의 포괄적 인 품질 , 효율성, 추적 , 생산성과 수익성 에 대한 액세스를 향상시킬 수 있습니다.
		이 모든 웨이 센 생산 관리 시스템 에 의해 달성된다.
	</div>
	<div class="feature">
		<div>
			<label>설비관리</label>
			<ul>
				<li class="depth1">설비리스트</li>
				<li class="depth2">설비정보는 이름, 코드. 종류, 설비능력, 가동시간, 현재상태등을 포함</li>
				<li class="depth1">설비 BOM</li>
				<li class="depth2">부품, 예비부품 리스트</li>
				<li class="depth1">예비 부품재고 관리, 설비와 관련있음</li>
				<li class="depth1">설비수리</li>
				<li class="depth2">고장 및 수비이력</li>
				<li class="depth1">설비유지보수</li>
				<li class="depth2">유지보수계획, 시간, 등급, 내용, 이력, 유지보수, 알림</li>
			</ul>
			
			<label>공구관리</label>
			<ul>
				<li class="depth1">공구리스트</li>
				<li class="depth2">공구집계, 모형, 소모품등 모든 제조공구 리스트, 코드, 설명, 버전, 재질, 제조업체, 최저재고량, 크기, 상태등</li>
				<li class="depth1">공구, 집계공구, 모형의 유지보수</li>
				<li class="depth2">계획제정, 내용정의, 유지보수 상황 기록</li>
				<li class="depth1">공구 BOM</li>
				<li class="depth2">모형, 집계공구의 부품, 전용공구와 범용공구를 구분함</li>
				<li class="depth1">공구재고</li>
				<li class="depth2">수량, 보관, 사용, 현재상태의 실시간 추적</li>
			</ul>
		</div>
		
		<div>
			<label>생산계획</label>
			<ul>
				<li class="depth1">판매, 출하계획 조회</li>
				<li class="depth1">원자재 및 완제품 재고조회</li>
				<li class="depth1">생산계획제정</li>
				<li class="depth1">제품, 공정, 시간, 교대계획에 근거함</li>
			</ul>
			
			<label>생산실적</label>
			<ul>
				<li class="depth1">각공정별 생산실적</li>
				<li class="depth1">완제품 생산실적</li>
				<li class="depth1">재고등록</li>
				<li class="depth2">원자재 소모 및 완제품 입고</li>
				<li class="depth1">Lot Tracking</li>
				<li class="depth2">재공 추적</li>
			</ul>
			
			<label>Bar Coding 라벨</label>
			<ul>
				<li class="depth1">라벨의 설계 및 프린트</li>
				<li class="depth2">바코드로 제품, 포장, 카톤, 팔레트, 창고위치등을 표기하고 바코드스캐너 등 모바일 단말기로 분류하고 시스템에 입력</li>
			</ul>
		</div>
	</div>
</div>