<% content_for :clazz do 'prod' end %>

<% content_for :concept do %>
<div class="subconcept edm">
	<div class="title">
		home > products > 공정데이터관리
		<label>공정데이터관리</label>
		<span>Engineering Data Management</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'prod_sublink' %>

<div class="subContentWrap edm">
	<div>
		<span class="prodImg"></span>
		<span class="greenText">사방제조 기업 의 엔지니어링 데이터.</span>

		이러한 수동 처리 등의 제품 번호 , 제품 버전 과 몇 가지 변화 를 그리는 많은 항목 이 어떤 힘 이 불가피하다. 웨이 센 엔지니어링 데이터 관리 시스템 EDM (Engineering Data Management) 대신 수동 조작 , 프로젝트 , 또는 최신 버전 에서 사용되는 데이터 의 모든 구석 에있는 모든 사람 을 보호하기 위해 각 사업 단위 의 일관성 .
		<%= image_tag("site/archEDM.png", :alt => "SCM Architecture") %>
	</div>
	<div class="feature">
		<div>
			<label>공정데이터 및 변경관리</label>
			<ul>
				<li class="depth1">변경관리</li>
				<li class="depth2">변경프로세스 및 최신 상태 추적</li>
				<li class="depth1">제품(모델, 버전)관리</li>
				<li class="depth2">최신버전 일치성을 보장</li>
				<li class="depth1">도면, 표준 등 기술자료관리</li>
				<li class="depth2">표준문서 추출</li>
				<li class="depth1">EBOM부속품 및 부품리스트</li>
				<li class="depth1">제품특성설정</li>
				<li class="depth2">특수특성、중요특성</li>
				<li class="depth1">Control plan</li>
				<li class="depth2">각 공정의 제어파라미터 설정</li>
				<li class="depth1">Process Flow Chart</li>
				<li class="depth2">공정 정의</li>
				<li class="depth1">FMEA</li>
				<li class="depth2">실효패턴분석</li>
				<li class="depth1">CP/PFC/FMEA 연관성, 동시성유지</li>
				<li class="depth1">PPAP프로세스 추적</li>
			</ul>
		</div>
		
		<div>
			<label>프로젝트관리(PMS)</label>
			<ul>
				<li class="depth1">제품개발프로세스에 의한 프로젝트관리</li>
				<li class="depth1">Milestone</li>
				<li class="depth2">노드추적, 알람</li>
				<li class="depth1">타스크관리</li>
				<li class="depth2">프로젝트 멤버 타스크분배, 추적</li>
				<li class="depth1">WBS(Work Breakdown Structure)관리</li>
				<li class="depth1">진척관리</li>
				<li class="depth2">간트차트</li>
			</ul>
		</div>
	</div>
</div>