<% content_for :clazz do 'prod' end %>

<% content_for :concept do %>
<div class="subconcept scm">
	<div class="title">
		home > products > 공급망관리시스템
		<label>공급망관리시스템</label>
		<span>Supply Chain Management</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'prod_sublink' %>

<div class="subContentWrap scm">
	<div>
		<span class="prodImg"></span>
		<span class="greenText">점차적으로 , 제조 기업 조달 및 공급 관리 서비스 의 효율성을 향상 중복 의 중복을 줄일 수 웨이 센 공급 체인 관리 시스템에 의해 , 고품질의 자원은 더욱 가치 로비즈니스 영역 에 할당 될 것이다.</span>

		기업 제조 , 안정적인 공급망 보안은 무시할 수 없다 . 웨이 센 공급망 관리 시스템 SCM (Supply Chain Management) 기업 관리 , 유지 보수 및 체계적인 매일 조달 제조 작업 에 대한 정보 의 공급 기반을 제공하지만, 도 임베디드 공급 업체 포털 구현 및 공급 업체 온라인 상호 작용을 통해 이러한보고 및 결함이있는 제품 의 처리 로 , 서비스 를 온라인으로 문의 입력 , 도서관 등을 공유하고 정보의 저장 을 제공합니다.。
		<%= image_tag("site/archSCM.png", :alt => "SCM Architecture", :class => "marginT40") %>
		
	</div>
	<div class="feature">
		<div>
			<label>공급업체정보</label>
			<ul>
				<li class="depth1">공급업체리스트</li>
				<li class="depth2">개요, 제품, 심사기록 등 내용</li>
				<li class="depth1">공급업체등급</li>
				<li class="depth2">정기적 심사계획, 내용, 평점기록</li>
				<li class="depth1">잠재적 공급업체심사</li>
				<li class="depth2">심사내용을 제정하고 심사결과를 기록 및 관리</li>
			</ul>
			
			<label>구매관리</label>
			<ul>
				<li class="depth1">구매품리스트</li>
				<li class="depth2">제품, 가격, 공급업체, 고객에 맞는 제품, 가격, 최소 주문량 등</li>
				<li class="depth1">납부정보</li>
				<li class="depth2">납부상태, 날자, 금액등 관리</li>
				<li class="depth1">견적서 관리</li>
				<li class="depth2">공급업체의 견적을 시스템에서 발행 및 추적</li>
				<li class="depth1">PO 발행과 Release</li>
				<li class="depth2">메일 혹은 EDI로 전송</li>
				<li class="depth1">구매실적을 기록</li>
				<li class="depth2">입고처리기준</li>
				<li class="depth1">반품관리</li>
				<li class="depth2">반품된 제품을 추적, 재고관리와 공급업체평점 등과 통합</li>
			</ul>
		</div>
		
		<div>
			<label>원자재, 외부구매부품재고 관리</label>
			<ul>
				<li class="depth1">원자재재고관리</li>
				<li class="depth1">원자재입고, 출고등록</li>
				<li class="depth1">원자재선입선출</li>
				<li class="depth1">원자재 창고위치 관리</li>
				<li class="depth1">재고 리포트</li>
			</ul>
			
			<label>Supplier portal 공급업체포털</label>
			<ul>
				<li class="depth1">시스템에서 RFQ발행</li>
				<li class="depth1">공급업체에서 시스템에 로그인하여 견적완성</li>
				<li class="depth1">공급업체에서 자체 평점조회</li>
				<li class="depth1">공급업체에서 인터넷으로 PPAP제출</li>
				<li class="depth1">포털사이트와 내부QMS，SCM을 연결시켜서 정보동일성을 보장</li>
			</ul>
		</div>
	</div>
</div>