<% content_for :clazz do 'prod' end %>

<% content_for :concept do %>
<div class="subconcept scm">
	<div class="title">
		Home > 제품소개 > 공급망관리시스템
		<label>공급망관리시스템</label>
		<span>Supply Chain Management</span>
	</div>
	<div class="image">
	</div>
</div>
<% end %>

<%= render :partial => 'prod_sublink' %>

<div class="subContentWrap scm">
	<div>
		<span class="prodImg"></span>
		<span class="greenText">하티오랩 공급망 관리 시스템을 통하여 제조기업의 구매업무 및 공급업체 관리업무의 효율을 효과적으로 제고하고 불필요한 반복업무를 줄임으로써 양질의 자원을 더욱 가치있는 업무영역에 배치하십시오.</span>
        안정적인 공급망을 확보하는 것은 제조기업에 있어 더없이 중요한 부분입니다. 하티오랩 공급망 관리 시스템 SCM(Supply Chain Management)은 제조기업의 공급업체 관련 기초정보 관리 및 유지보수와 일상적인 구매업무의 체계적인 처리를 도와줄 뿐만 아니라, 시스템에 기 설정된 공급업체 포털을 통하여 온라인으로 불량품 신고 및 처리, 가격 문의 및 입찰, 출고 및 입고 관련 정보의 공유 등 쌍방향 정보 처리가 가능하게 해줍니다.
		<%= image_tag("site/archSCM.png", :alt => "SCM Architecture", :class => "marginT40") %>

	</div>
	<div class="feature">
		<div>
			<label>공급업체정보</label>
			<ul>
				<li class="depth1">공급업체리스트</li>
				<li class="depth2">개요, 제품, 심사기록 등 내용</li>
				<li class="depth1">공급업체등급</li>
				<li class="depth2">정기적 심사계획, 내용, 평점기록</li>
				<li class="depth1">잠재적 공급업체심사</li>
				<li class="depth2">심사내용을 제정하고 심사결과를 기록 및 관리</li>
			</ul>

			<label>구매관리</label>
			<ul>
				<li class="depth1">구매품리스트</li>
				<li class="depth2">제품, 가격, 공급업체, 고객에 맞는 제품, 가격, 최소 주문량 등</li>
				<li class="depth1">납부정보</li>
				<li class="depth2">납부상태, 날자, 금액등 관리</li>
				<li class="depth1">견적서 관리</li>
				<li class="depth2">공급업체의 견적을 시스템에서 발행 및 추적</li>
				<li class="depth1">PO 발행과 Release</li>
				<li class="depth2">메일 혹은 EDI로 전송</li>
				<li class="depth1">구매실적을 기록</li>
				<li class="depth2">입고처리기준</li>
				<li class="depth1">반품관리</li>
				<li class="depth2">반품된 제품을 추적, 재고관리와 공급업체평점 등과 통합</li>
			</ul>
		</div>

		<div>
			<label>원자재, 외부구매부품재고 관리</label>
			<ul>
				<li class="depth1">원자재재고관리</li>
				<li class="depth1">원자재입고, 출고등록</li>
				<li class="depth1">원자재선입선출</li>
				<li class="depth1">원자재 창고위치 관리</li>
				<li class="depth1">재고 리포트</li>
			</ul>

			<label>Supplier Portal 공급업체포털</label>
			<ul>
				<li class="depth1">시스템에서 RFQ발행</li>
				<li class="depth1">공급업체에서 시스템에 로그인하여 견적완성</li>
				<li class="depth1">공급업체에서 자체 평점조회</li>
				<li class="depth1">공급업체에서 인터넷으로 PPAP제출</li>
				<li class="depth1">포털사이트와 내부QMS，SCM을 연결시켜서 정보동일성을 보장</li>
			</ul>
		</div>
	</div>
</div>
